@import 'nib'

@font-face {
  font-family 'Overlock'
  font-style normal
  font-weight 900
  src local('Overlock-Black'), url(http://themes.googleusercontent.com/static/fonts/overlock/v2/l1JcQwKaHzEH7sWBQ9t-7obN6UDyHWBl620a-IRfuBk.woff) format('woff')
}

@-webkit-keyframes rotate
  from
    -webkit-transform rotate(0deg)
  to 
    -webkit-transform rotate(360deg)

i.icon-refresh.animooted
  -webkit-animation-name             rotate 
  -webkit-animation-duration         2s
  -webkit-animation-iteration-count  infinite
  -webkit-animation-timing-function  linear

.content
  display none

#main_brand
  font-family 'Overlock'
  font-style italic
  font-size 64px

.brand
  font-family 'Overlock'
  font-style italic
  color white !important

body
  padding-top 60px

//.navbar-inner
//  background #70b348 !important

.nav .dropdown-menu
  padding 0.5em

.playlists_list
  list-style none

.playlists_list
  margin 0

.playlists_list li
  padding 5px

#song_modal .modal-body form
  margin 0

#song_modal form.form-horizontal .control-label
  width 50px
#song_modal form.form-horizontal .control-group .controls
  margin-left 60px

.modal_search_results ul
  margin 0

.modal_search_results ul li:nth-child(odd)
  margin 0
  background #eee

.playlists_list li:nth-child(odd)
  background #eee

#disconnected_msg
  display none

.uploaded_playlist tbody tr
  height 41px
  font-size 12px

//.uploaded_playlist tbody tr:hover td
//  background #fee !important

//.uploaded_playlist tbody tr:active td
//  background #fcc !important

td.button
  width 44px
/*
  background transparent !important
  border 0

td.button button
  visibility hidden 

.uploaded_playlist tbody tr:hover > td.button button
  visibility visible
*/

.uploaded_playlist tr td
  vertical-align middle
  padding 0 5px

.track_title, .track_title a
  color #5F6B9C !important
  font-size 14px
  font-weight bold
  text-overflow ellipsis

.track_info
  font-size 12px
  white-space nowrap
  overflow hidden
  max-height 41px
  text-overflow ellipsis

.track_artist_album, .track_artist_album a
  color #888 !important
  text-overflow ellipsis

.album_art
  float left
  max-height 41px
  margin-right 3px

.form-horizontal .control-group
  margin-bottom 5px

tr.no_songs_found, tr.no_songs_found td
  background #fcc !important

td.gs
  width 400px

button.select-song
  padding 0
  width 38px
  height 38px
  margin 1px
  float left

button.select-song i
  visibility hidden

button.select-song.active i
  visibility visible

button.editTrack
  height 38px
