@import 'nib'

@font-face {
  font-family 'Overlock'
  font-style normal
  font-weight 900
  src local('Overlock-Black'), url(http://themes.googleusercontent.com/static/fonts/overlock/v2/l1JcQwKaHzEH7sWBQ9t-7obN6UDyHWBl620a-IRfuBk.woff) format('woff')
}

@-webkit-keyframes rotate
  from
    -webkit-transform rotate(0deg)
  to 
    -webkit-transform rotate(360deg)

i.icon-refresh.animooted
  -webkit-animation-name             rotate 
  -webkit-animation-duration         2s
  -webkit-animation-iteration-count  infinite
  -webkit-animation-timing-function  linear

.content
  display none

#main_brand
  font-family 'Overlock'
  font-style italic
  font-size 64px

.brand
  font-family 'Overlock'
  font-style italic
  color white !important

body
  padding-top 40px

//.navbar-inner
//  background #70b348 !important

.nav .dropdown-menu
  padding 0.5em

.playlists_list
  list-style none

.playlists_list
  margin 0

.playlists_list li
  padding 5px

#song_modal .modal-body form
  margin 0

#song_modal form.form-horizontal .control-label
  width 50px
#song_modal form.form-horizontal .control-group .controls
  margin-left 60px

ul.search_results
  list-style none

.modal_search_results ul
  margin 0

button.add_album_tracks
  margin-top -35px
  margin-right 5px
  float right

#album_modal_search_results > ul
  margin 0

.discogs_master_result
  display none
  padding 10px
  padding-top 0
  font-size 12px

.discogs_master_result > .well
  margin 0

.show_discogs_master,
.hide_discogs_master
  box-sizing border-box
  float left
  width 40px
  height 40px
  padding-top 10px
  padding-left 10px

.discogs_thumb
  float right
  background #aaa
  border 1px solid #aaa
  width 90px
  height 88px

.hide_discogs_master
  display none

.search_results li:nth-child(odd),
.modal_search_results li:nth-child(odd)
  margin 0
  background #eee

.playlists_list li:nth-child(odd)
  background #eee

#disconnected_msg
  display none

.uploaded_playlist tbody tr
  height 41px
  font-size 12px

.uploaded_playlist .buttons
  padding 0
  width 40px

#playlist legend
  margin-top 40px

//.uploaded_playlist tbody tr:hover td
//  background #fee !important

//.uploaded_playlist tbody tr:active td
//  background #fcc !important

.dragHandle
  text-align center !important

.dragHandle:hover, .dragHandle:active
  cursor ns-resize
/*
  background transparent !important
  border 0

td.button button
  visibility hidden 

.uploaded_playlist tbody tr:hover > td.button button
  visibility visible
*/

.uploaded_playlist tr td
  vertical-align middle
  padding 0 5px

.track_title, .track_title a
  color #5F6B9C !important
  font-size 14px
  font-weight bold
  overflow hidden
  text-overflow ellipsis

.track_info
  font-size 12px
  white-space nowrap
  overflow hidden
  max-height 41px
  text-overflow ellipsis

.track_artist_album
  margin-right 53px

.track_artist_album, .track_artist_album a
  color #888 !important
  overflow hidden
  text-overflow ellipsis

.album_art
  float left
  max-height 41px
  margin-right 3px

.form-horizontal .control-group
  margin-bottom 5px

.no_songs_found, .no_songs_found > *
  background #fcc !important

button.select-song
  padding 0
  width 38px
  height 38px
  margin 1px
  float left

button.select-song i
  visibility hidden

button.select-song.active i
  visibility visible

button.editTrack
  padding 0
  width 38px
  height 38px
  margin 1px

.score
  float right
  margin-top -29px
  height 20px
  color #ccc
  font-weight bold
  font-size 24px

.score i
  opacity 0.25
  visibility hidden
.score i.verified
  visibility visible

.grooveshark_playlist_link
  font-size 18px

#log-in input[type=text]:focus, #log-in input[type=password]:focus
  min-width 154px

.playlist, .gs
  overflow hidden
  max-width 0px

.ui-sortable-helper
  background white
  border-bottom 1px solid #ddd

.ui-sortable-helper .playlist, .ui-sortable-helper .gs
  max-width none

[contenteditable=true]
  min-width 20px !important
  display inline-block
[contenteditable=true]:hover
  background rgba(100,255,200, 0.2)
[contenteditable=true]:focus
  outline-style none
  background rgba(100,255,200, 0.6)
  padding 0 5px
